* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(46, 46, 46);
  text-align: center;
  background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  color: black;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  margin: 1% auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}

li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20rem;
  padding: 1rem;
  border: 0.1rem solid gold;
  margin: 2rem auto;
  position: relative;
  height: 7rem;
}

img {
  position: absolute;
  bottom: 0rem;
  height: 7rem;
}

@font-face {
  font-family: "Pokemon";
  src: url("./Pokemon\ Hollow.ttf");
}

.container {
  display: flex;
  flex-direction: column;
}

.top {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  padding: 0.5rem 1rem;
  background-color: blue;
  border: 3px gold solid;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.submit {
  width: 25%;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: blue;
  border: 3px gold solid;
  color: white;
  font-size: 1.5rem;
  transition: 0.3s all;
}
:hover.submit {
  background-color: darkblue;
  border: 3px yellow solid;
}
:active.submit {
  background-color: rgb(27, 27, 177);
  border: 3px rgb(189, 189, 2) solid;
}

.title {
  position: relative;
  margin: 5rem auto 0;
}

.search {
  width: 50%;
  margin: 2rem auto 0;
  padding: 1rem 0;
  font-size: 1.5rem;
}

.header {
  margin: 0 auto;
  position: relative;
}

.id {
  position: absolute;
  top: -2rem;
  font-size: 1.5rem;
  left: 0.1rem;
}

.name {
  position: absolute;
  top: -4.7rem;
  margin: 0 auto;
  font-weight: bold;
  font-family: "Pokemon";
  font-size: 2rem;
}

:hover.name {
  font-size: 3rem;
  top: -7rem;
  transition: 0.3s all;
}

.type1 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.type2 {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.bug {
  background-image: linear-gradient(
    135deg,
    rgb(140, 154, 17) 0%,
    rgb(168, 184, 32) 50%,
    rgba(32, 123, 202, 0) 51%,
    rgba(125, 186, 232, 0) 100%
  );
}

.bug1 {
  background-color: #a8b820;
}

.dark {
  background-image: linear-gradient(
    135deg,
    rgb(87, 67, 54) 0%,
    rgb(112, 88, 72) 50%,
    rgba(112, 88, 72, 0) 51%,
    rgba(112, 88, 72, 0) 100%
  );
}

.dark1 {
  background-color: #705848;
}

.dragon {
  background-image: linear-gradient(
    135deg,
    rgb(94, 37, 228) 0%,
    rgb(112, 56, 248) 50%,
    rgba(112, 88, 72, 0) 51%,
    rgba(112, 88, 72, 0) 100%
  );
}

.dragon1 {
  background-color: #7038f8;
}

.electric {
  background-image: linear-gradient(
    135deg,
    rgb(175, 140, 1) 0%,
    rgb(248, 208, 48) 50%,
    rgba(112, 88, 72, 0) 51%,
    rgba(112, 88, 72, 0) 100%
  );
}

.electric1 {
  background-color: #f8d030;
}

.fairy {
  background-image: linear-gradient(
    135deg,
    rgb(255, 129, 156) 0%,
    rgb(238, 153, 172) 50%,
    rgba(112, 88, 72, 0) 51%,
    rgba(112, 88, 72, 0) 100%
  );
}

.fairy1 {
  background-color: #ee99ac;
}

.fighting {
  background-image: linear-gradient(
    135deg,
    rgb(147, 29, 23) 0%,
    rgb(192, 48, 40) 50%,
    rgba(112, 88, 72, 0) 51%,
    rgba(112, 88, 72, 0) 100%
  );
}
.fighting1 {
  background-color: #c03028;
}

.fire {
  background-image: linear-gradient(
    135deg,
    rgb(220, 91, 0) 0%,
    rgb(240, 128, 48) 50%,
    rgba(32, 123, 202, 0) 51%,
    rgba(125, 186, 232, 0) 100%
  );
}

.fire1 {
  background-color: #f08030;
}

.flying {
  background-image: linear-gradient(
    135deg,
    rgb(139, 113, 216) 0%,
    rgb(168, 144, 240) 50%,
    rgba(112, 88, 72, 0) 51%,
    rgba(112, 88, 72, 0) 100%
  );
}

.flying1 {
  background-color: rgb(139, 113, 216);
}

.ghost {
  background-image: linear-gradient(
    135deg,
    rgb(99, 74, 140) 0%,
    rgb(112, 88, 152) 50%,
    rgba(112, 88, 72, 0) 51%,
    rgba(112, 88, 72, 0) 100%
  );
}

.ghost1 {
  background-color: #705898;
}

.grass {
  background-image: linear-gradient(
    135deg,
    rgb(1, 117, 11) 0%,
    #78c850 50%,
    rgba(32, 123, 202, 0) 51%,
    rgba(125, 186, 232, 0) 100%
  );
}

.grass1 {
  background-color: #78c850;
}

.ground {
  background-image: linear-gradient(
    135deg,
    rgb(156, 131, 60) 0%,
    rgb(224, 192, 104) 50%,
    rgba(32, 123, 202, 0) 51%,
    rgba(125, 186, 232, 0) 100%
  );
}

.ground1 {
  background-color: #e0c068;
}

.ice {
  background-image: linear-gradient(
    135deg,
    rgb(105, 165, 165) 0%,
    rgb(152, 216, 216) 50%,
    rgba(32, 123, 202, 0) 51%,
    rgba(125, 186, 232, 0) 100%
  );
}

.ice1 {
  background-color: #98d8d8;
}
.normal {
  background-image: linear-gradient(
    135deg,
    rgb(134, 134, 84) 0%,
    rgb(168, 168, 120) 50%,
    rgba(32, 123, 202, 0) 51%,
    rgba(125, 186, 232, 0) 100%
  );
}

.normal1 {
  background-color: #a8a878;
}

.poison {
  background-image: linear-gradient(
    135deg,
    rgb(117, 37, 117) 0%,
    rgb(160, 64, 160) 50%,
    rgba(32, 123, 202, 0) 51%,
    rgba(125, 186, 232, 0) 100%
  );
}

.poison1 {
  background-color: rgb(160, 64, 160);
}
.psychic {
  background-image: linear-gradient(
    135deg,
    rgb(210, 54, 101) 0%,
    rgb(248, 88, 136) 50%,
    rgba(32, 123, 202, 0) 51%,
    rgba(125, 186, 232, 0) 100%
  );
}

.psychic1 {
  background-color: #f85888;
}

.rock {
  background-image: linear-gradient(
    135deg,
    #907c26 0%,
    #b8a038 50%,
    rgba(32, 123, 202, 0) 51%,
    rgba(125, 186, 232, 0) 100%
  );
}

.rock1 {
  background-color: #b8a038;
}

.steel {
  background-image: linear-gradient(
    135deg,
    rgb(145, 145, 184) 0%,
    rgb(184, 184, 208) 50%,
    rgba(32, 123, 202, 0) 51%,
    rgba(125, 186, 232, 0) 100%
  );
}

.steel1 {
  background-color: #b8b8d0;
}

.water {
  background-image: linear-gradient(
    135deg,
    rgb(49, 92, 193) 0%,
    rgb(104, 144, 240) 50%,
    rgba(32, 123, 202, 0) 51%,
    rgba(125, 186, 232, 0) 100%
  );
}

.water1 {
  background-color: #6890f0;
}
